.header1 {
    font-size: 45px;
    top: 0px;
    position: sticky;
    background-image: linear-gradient(120deg,red,yellow,green,white);
    width: 100%;
    color: rgb(202, 41, 41);
    font-family: 'Lobster', cursive;
    text-align: center;
    text-shadow: 4px black;
    box-shadow: 8px 8px 10px 4px black;
    border-radius: 55p;
    z-index:999;
}
h1{
    color: black;
    height: 80px;
}
body{
    width:100%;
    min-width:100vh;
    display:grid;
    background-position:cover;
}
hr.new{
    border-top: 10px dotted black;
}

.link1,.link2,.link3,.link4,.link5,.link6,.link7,.link8,.link9{
    margin-left: 280px;
}
a:hover{
    color:aquamarine
}
a:link{
    color: black;
    align:center;
}
a:active{
    color: blue;
}
a:visited{
    color: green;
}
#container1,#container2,#container3,#container4,#container5,#container6,#container7,#container8,#container9{
    box-shadow: 3px 16px 15px black;
    border-radius: 55px;
}
.my-image1,.my-image3,.my-image5,.my-image7,.my-image9{
    margin-left:150px;
    width:425px;
    height:220px;
    top: 0px;
    border-radius: 25px;
    position:relative ;
    left: 5px;
    z-index:5.99;
}
.my-image2,.my-image4,.my-image6,.my-image8{
    margin-left:150px;
    width:425px;
    height:239px;
    top: 0px;
    border-radius: 25px;
    position:relative ;
    left: 5px;
}



.my-paragraph1,.my-paragraph3,.my-paragraph5,.my-paragraph7,.my-paragraph9{
    word-wrap:break-word ;text-justify:distribute-all-lines;
    min-width: 450px;
    width: 98%;
    word-spacing: 2px;
    letter-spacing: 1px;
    position:relative;
  }
.my-paragraph2,.my-paragraph4,.my-paragraph6,.my-paragraph8{
    word-wrap:break-word ;text-justify:distribute-all-lines;
    min-width: 450px;
    width: 98%;
    word-spacing: 2px;
    letter-spacing: 1px;
    position:relative;
 }
footer {
    bottom: 0px;
    position: sticky;
    background-image: linear-gradient(120deg,red,yellow,green,white);
    width: 100%;
    color: rgb(202, 41, 41);
    font-family: 'Lobster', cursive;
    text-align: center;
    text-shadow: 4px black;
    box-shadow: 8px 8px 10px 4px black;
    border-radius: 55px
}
